body {
  overflow-x: hidden;
}

.button {
  box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
  height: 44px;
  padding: 17px 30px;
  background-color: #80b7b3;
  border-radius: 30px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.container {
  max-width: 780px;
  padding: 0 20px;
  margin: 0 auto;
}
.travel {
  background-color: #e8e8e8;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 40px;
  color: #273d46;
  position: relative;
  padding: 168px 0;
  z-index: 0;
}
.travel__description {
  font-size: 36px;
  text-align: center;
}
.travel__image {
  display: block;
  max-width: 841px;
  width: 100%;
  border: 10px solid #fff;
  box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
  margin: 0 auto;
}

.travel__item {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 36px;
  color: #273d46;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  padding-left: 29px;
  position: relative;
}

.travel__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  /* TODO: Replace this icon to a vector svg */
  background: center/contain no-repeat url("../asserts/check.png");
  width: 25px;
  height: 19px;
}
.travel__item--bold {
  font-weight: 700;
  text-shadow: none;
}
.travel__item--italic {
  font-style: italic;
  color: #80b7b3;
  text-shadow: none;
}
.travel__item--stroke {
  opacity: 0.3;
  text-decoration: line-through;
  text-shadow: none;
}
.travel__list {
  margin: 2em 0;
}
.travel__text {
  margin: 0 auto;
}

.travel__text-paragraph {
  margin-bottom: 2em;
}
.travel__title {
  opacity: 0.6;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0 0 28px;
}
.travel__wrap-image {
  position: relative;
  max-width: 1190px;
  width: 100%;
  margin: 70px 0 100px;
}
.travel__wrap-image::before {
  content: "";
  background: center no-repeat url("../asserts/lines_bg.png");
  position: absolute;
  width: calc(100% + 40px);
  height: 1064px;
  opacity: 0.24;
  right: -20px;
  top: -50%;
  z-index: -1;
}
.travel__image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  overflow: visible;
}
